n8n-workflows/add-to-calendar.json
{
  "name": "Add to Calendar (Google or Cal.com)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ac-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "calendar-sync"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{$json.body.calendarProvider || 'google'}}",
              "rightValue": "calcom",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ac-0001-0001-0001-000000000010",
      "name": "Which Calendar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://calcom:3000/api/v1/bookings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "apiKey", "value": "={{$env.CALCOM_API_KEY || ''}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventTypeId\": {{$('Webhook').item.json.body.calcomEventTypeId || 1}},\n  \"start\": \"{{$('Webhook').item.json.body.eventDate}}T{{$('Webhook').item.json.body.startTime || '12:00:00'}}\",\n  \"end\": \"{{$('Webhook').item.json.body.eventDate}}T{{$('Webhook').item.json.body.endTime || '18:00:00'}}\",\n  \"responses\": {\n    \"name\": \"{{$('Webhook').item.json.body.clientName}}\",\n    \"email\": \"{{$('Webhook').item.json.body.clientEmail}}\",\n    \"location\": \"{{$('Webhook').item.json.body.eventAddress}}\",\n    \"notes\": \"Event: {{$('Webhook').item.json.body.eventType}}\\nGuests: {{$('Webhook').item.json.body.guestCount}}\\nPhone: {{$('Webhook').item.json.body.clientPhone}}\"\n  },\n  \"metadata\": {\n    \"personId\": \"{{$('Webhook').item.json.body.personId}}\"\n  }\n}",
        "options": {}
      },
      "id": "ac-0001-0001-0001-000000000011",
      "name": "Cal.com Create Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 160]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": { "__rl": true, "mode": "list", "value": "primary" },
        "start": "={{$('Webhook').item.json.body.eventDate}}T{{$('Webhook').item.json.body.startTime || '12:00:00'}}",
        "end": "={{$('Webhook').item.json.body.eventDate}}T{{$('Webhook').item.json.body.endTime || '18:00:00'}}",
        "additionalFields": {
          "summary": "={{$('Webhook').item.json.body.eventType}} — {{$('Webhook').item.json.body.clientName}}",
          "description": "=Booking for {{$('Webhook').item.json.body.clientName}}\nEmail: {{$('Webhook').item.json.body.clientEmail}}\nPhone: {{$('Webhook').item.json.body.clientPhone}}\nGuests: {{$('Webhook').item.json.body.guestCount}}\n\nNotes: {{$('Webhook').item.json.body.notes}}",
          "location": "={{$('Webhook').item.json.body.eventAddress}}",
          "attendees": ["={{$('Webhook').item.json.body.clientEmail}}"]
        }
      },
      "id": "ac-0001-0001-0001-000000000002",
      "name": "Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [700, 440],
      "credentials": {
        "googleCalendarOAuth2Api": { "name": "Google Calendar OAuth2" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize the event ID from either provider\nconst calcom = $('Cal.com Create Booking')?.first?.();\nconst google = $('Google Calendar Event')?.first?.();\n\nlet eventId = '';\nlet provider = 'unknown';\n\nif (calcom?.json?.id) {\n  eventId = String(calcom.json.id);\n  provider = 'calcom';\n} else if (google?.json?.id) {\n  eventId = String(google.json.id);\n  provider = 'google';\n}\n\nreturn [{ json: {\n  eventId,\n  provider,\n  personId: $('Webhook').first().json.body.personId\n} }];"
      },
      "id": "ac-0001-0001-0001-000000000012",
      "name": "Normalize Event ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://twenty:3000/api",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation UpdatePeople($id: ID!, $data: PeopleUpdateInput!) { updatePeople(id: $id, data: $data) { id } }\",\n  \"variables\": {\n    \"id\": \"{{$json.personId}}\",\n    \"data\": { \"calendarEventId\": \"{{$json.provider}}:{{$json.eventId}}\" }\n  }\n}",
        "options": {}
      },
      "id": "ac-0001-0001-0001-000000000003",
      "name": "Save Event ID to Twenty",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 200],
      "credentials": {
        "httpHeaderAuth": { "name": "Twenty API" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://listmonk:9000/api/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{$('Webhook').item.json.body.clientEmail}}\",\n  \"name\": \"{{$('Webhook').item.json.body.clientName}}\",\n  \"status\": \"enabled\",\n  \"lists\": [{{$env.LISTMONK_BOOKING_LIST_ID || 2}}],\n  \"preconfirm_subscriptions\": true\n}",
        "options": {}
      },
      "id": "ac-0001-0001-0001-000000000004",
      "name": "Add to Booking List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 400],
      "credentials": {
        "httpBasicAuth": { "name": "Listmonk" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"provider\": \"{{$('Normalize Event ID').item.json.provider}}\", \"calendarEventId\": \"{{$('Normalize Event ID').item.json.eventId}}\" }",
        "options": {}
      },
      "id": "ac-0001-0001-0001-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1420, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Which Calendar?", "type": "main", "index": 0 }]]
    },
    "Which Calendar?": {
      "main": [
        [{ "node": "Cal.com Create Booking", "type": "main", "index": 0 }],
        [{ "node": "Google Calendar Event", "type": "main", "index": 0 }]
      ]
    },
    "Cal.com Create Booking": {
      "main": [[{ "node": "Normalize Event ID", "type": "main", "index": 0 }]]
    },
    "Google Calendar Event": {
      "main": [[{ "node": "Normalize Event ID", "type": "main", "index": 0 }]]
    },
    "Normalize Event ID": {
      "main": [
        [
          { "node": "Save Event ID to Twenty", "type": "main", "index": 0 },
          { "node": "Add to Booking List", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save Event ID to Twenty": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
