n8n-workflows/contract-signed-callback.json
{
  "name": "Contract Signed Callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contract-signed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cs-0001-0001-0001-000000000001",
      "name": "Webhook (DocuSeal)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "contract-signed"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{$json.body.event_type || $json.body.event}}",
              "rightValue": "form.completed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cs-0001-0001-0001-000000000002",
      "name": "Is form.completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://twenty:3000/api",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation UpdatePeople($id: ID!, $data: PeopleUpdateInput!) { updatePeople(id: $id, data: $data) { id } }\",\n  \"variables\": {\n    \"id\": \"{{$('Webhook (DocuSeal)').item.json.body.data.metadata.personId}}\",\n    \"data\": { \"contractSigned\": true, \"inquiryStatus\": \"BOOKED\" }\n  }\n}",
        "options": {}
      },
      "id": "cs-0001-0001-0001-000000000003",
      "name": "Mark Person Contract Signed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200],
      "credentials": {
        "httpHeaderAuth": { "name": "Twenty API" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ninja-nginx:80/api/v1/invoices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Requested-With", "value": "XMLHttpRequest" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{$('Webhook (DocuSeal)').item.json.body.data.metadata.invoiceNinjaClientId}}\",\n  \"line_items\": {{$('Webhook (DocuSeal)').item.json.body.data.metadata.lineItems || '[]'}},\n  \"due_date\": \"{{$('Webhook (DocuSeal)').item.json.body.data.metadata.dueDate || ''}}\"\n}",
        "options": {}
      },
      "id": "cs-0001-0001-0001-000000000004",
      "name": "Create Invoice in Ninja",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 400],
      "credentials": {
        "httpHeaderAuth": { "name": "Invoice Ninja" }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{$env.BUSINESS_OWNER_EMAIL || 'owner@rewindmediaevents.com'}}",
        "toEmail": "={{$env.BUSINESS_OWNER_EMAIL || 'owner@rewindmediaevents.com'}}",
        "subject": "=✅ Contract signed by {{$('Webhook (DocuSeal)').item.json.body.data.submitters[0].name || 'Client'}}",
        "text": "=Contract has been signed.\n\nSubmission ID: {{$('Webhook (DocuSeal)').item.json.body.data.submission_id}}\nSigner: {{$('Webhook (DocuSeal)').item.json.body.data.submitters[0].name}}\nEmail: {{$('Webhook (DocuSeal)').item.json.body.data.submitters[0].email}}\nCompleted at: {{$('Webhook (DocuSeal)').item.json.body.data.completed_at}}\n\nInvoice has been created in Invoice Ninja.\nCRM status updated to BOOKED.",
        "options": {}
      },
      "id": "cs-0001-0001-0001-000000000005",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [940, 300],
      "credentials": {
        "smtp": { "name": "SMTP" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "cs-0001-0001-0001-000000000006",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1180, 300]
    }
  ],
  "connections": {
    "Webhook (DocuSeal)": {
      "main": [[{ "node": "Is form.completed?", "type": "main", "index": 0 }]]
    },
    "Is form.completed?": {
      "main": [
        [
          { "node": "Mark Person Contract Signed", "type": "main", "index": 0 },
          { "node": "Create Invoice in Ninja", "type": "main", "index": 0 }
        ],
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    },
    "Mark Person Contract Signed": {
      "main": [[{ "node": "Notify Owner", "type": "main", "index": 0 }]]
    },
    "Create Invoice in Ninja": {
      "main": [[{ "node": "Notify Owner", "type": "main", "index": 0 }]]
    },
    "Notify Owner": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {}
}
